{% extends "base.html" %}
{% block title %}Hello from the ant farm{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-push-1">
            {% if maze_id > 0 %}
                <h1>Hello from ant maze {{maze_id}}</h1>
            {% else %}
                <h1>Hello from the ant maze</h1>
            {% endif %}
        </div>
        <div class="col-xs-12 col-lg-8 col-lg-push-1">
            <div id = "antfarm">
                
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
            <h3>What is this?</h3>
            <p>This is a simulation of ants traversing a maze trying to <a href="javascript:void();" id="food-link-tip">find food</a> and then deliver the food to the nearest maze exit. Ants drop a <strong>chemical marker</strong> that they can use to navigate and communicate with other ants.</p>
            <p>Initially ants are in <strong>explore</strong> mode where they try to cover as much territory as possible.</p>
            <p>If ants find <strong>an exit</strong> before they find food, they enter <strong>find food</strong> mode. They don't mind backtracking and going over already searched through territory.</p>
            <p>If ants find <strong>the food source</strong> before they find an exit, they enter <strong>find exit</strong> mode. At this point, other ants who find their chemical trail leading to food will jump on the trail and begin collecting food as well.</p>
            <p>Once ants have established a path from food to an exit, they'll be in <strong>retrieve food</strong> mode where they march back and forth between food to exit. Once the food source is depleted, a new food source is placed in the maze and the search continues.</p>

            <p>Here's <a href = "https://github.com/juniferd/antmaze">the source code &rarr;</a></p>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div id = "stats-panel">
        <div class="panel-container">
            <div class="turn-container clearfix"><input type="text" id="newTurn"></div>
        </div>
    </div>
    <div id = "stats-control" class="collapse"></div>
{% endblock %}

{% block footerjs %}
    {% if maze_id %}
        <script>
            window.MAZEID = {{maze_id}}
        </script>
    {% else %}
        <script>
            window.MAZEID = 0
        </script>
    {% endif %}
    <script src = "../static/antfarm.js"></script>
    <script src = "../static/draw-maze.js"></script>
    <script src = "../static/statspanel.js"></script>
    <script src = "../static/antpost.js"></script>
    <script src = "../static/ui-controls.js"></script>
{% endblock %}
